*{
  text-decoration: none;
}
.header {
  height:64px;
  position: fixed;
  z-index: 50;
  width: 100%;
  color:white;
  transition: all 0.3s ease;
}
a{
  height:47px;
}
.active {
  transition: all 0.3s ease;
  background-color: rgb(29, 28, 46);
}
.container {
  margin:0 auto;
  max-width: 1024px;
  height: 100%;
  padding:0 1rem;

}
.navbar {
  display:flex;
  justify-content: space-between;
  height: 100%;
}
.logo__div {
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo__link {
  display:flex;
  justify-content: center;
  width:100%;
  margin:0;
}
.links__div a {
  text-decoration: none;
}
.logo__img {
  margin:0 0.5rem 0 0;
  width: 50%;
  height:64px;
  min-width: 50px;
  display: none;
}
.links__div {
  display:none;
  flex-wrap: nowrap;
  align-items: center;
  width:auto;
}
.links__item {
  margin-right: 1rem;
  white-space: nowrap;
  font-weight: 700;
  color: #d7d7d7;
  cursor: pointer;
}
.links__item:hover{
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.phone-number{
  display:none;
}
.hamburger{
  display:block
}
.bm-item-list{
  display:flex;
  flex-direction: column;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
  .links__item {
    margin-right: 3rem;
  }
  .phone-number{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .phone-number p {
    margin:0;
    padding:0;
  }
  .phone-subtitle{
    font-size:13px;
    width:350px;
  }
  .links__div{
    display:flex;
  }
  .hamburger{
    display:none;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}


