.products {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  padding:50px 0 0 0;
}
.lowprice {
  background: linear-gradient(180deg, rgba(209, 208, 209, 0.942) 0%, #f5f5f5 81%, rgb(247, 247, 247) 100%);
}

.products__title{
    margin: 1em 0 .6em 0;
    padding: 0 0 0 20px;
    font-weight: normal;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    position: relative;
    font-size: 30px;
    line-height: 40px;
}

.products__title:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	bottom: 0;
	width: 5px;
	border-radius: 2px;
  background-color:#f27f38;
}

.card__name {
  font-size:15px;
  font-weight: 500;
  line-height: 0%;
}
.card__subname {
  font-size:13px;
  padding-left:5px;
  color:rgb(79, 79, 79)
}
.containerCard{
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  margin-right: 15px;
}
.product__name {
  height:20px;
  width: 100%;
  background-color: white;
  color:rgb(0, 0, 0);
  position: absolute;
  bottom:0;
  font-weight: 500;
  padding:0 20px;
}
.oldPrice{
  text-decoration: line-through;
  margin-right: 5px;
  font-weight: 700;
}
.newPrice{
  color:red;
  font-weight: 700;
}
.price{
  color:black;
  font-weight: 700;
}
.containerCard .card{
  position: relative;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.productCard{
  position: relative;
  height: 350px;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}


.containerCard .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height:100%;
  transition: 0.5s;
}

.containerCard .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  object-fit: cover;
}

.containerCard .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.containerCard .card:hover .contentBx{
  height: 210px;
}

.containerCard .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(48, 44, 44);
  margin: 0;
  text-shadow: 1px 1px 1px #ffffff;
}


.containerCard .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

.product__item{
  width:250px;
  margin-right:5px;
}
@media only screen and (max-width: 1280px) {
  .containerCard{
    margin-right:20px;
  }
}
@media only screen and (max-width: 500px) {
  .productCard {
    width:150px;
    height:150px;  
  }
  .containerCard{
    width:100%;
    margin-left:0;
    margin-bottom:25px;
    margin-right:0;
  }
  .products{
    margin:0 !important; 
  }
  .product__item{
    margin:0;
    width: 150px;
  }
  .card__name{
    font-size:12px;
    margin-bottom:5px;
  }
  .card__subname{
    font-size: 10px;
  }
}



/*-------------------------Карусель----------------------------*/

.rec.rec-dot_active {
  background-color: #f27f38;
  box-shadow: 0 0 1px 3px #f27f38;
}
.rec-carousel-wrapper{
  padding-bottom: 15px;
}
.krmNah:hover
.krmNah:focus{
  background-color: #f27f38;
  box-shadow: 0 0 1px 3px #f27f38;
}
.krmNah:hover, .krmNah:focus {
  cursor: pointer;
  background-color: #f27f38 !important;
  box-shadow: 0 0 1px 3px #f27f38 !important;
}
 /*Левая кнопка*/
.rec-arrow-left{
  background-color: rgba(183, 123, 58, 0.1) !important;
}
.rec-arrow-left:hover:enabled, .rec-arrow-left:focus:enabled {
  color: #fff;
  background-color: #f27f38 !important;
  box-shadow: 0 0 2px 0 #333;
}
 /*Правая кнопка*/
.rec-arrow-right{
  background-color: rgba(183, 123, 58, 0.1) !important;
}
.rec-arrow-right:hover:enabled, .rec-arrow-right:focus:enabled {
  color: #fff;
  background-color: #f27f38 !important;
  box-shadow: 0 0 2px 0 #333;
}